{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "header-max-length": [2, "always", 128],
    "subject-case": [
      2,
      "always",
      [
        "sentence-case",
        "start-case",
        "lower-case"
      ]
    ]
  }
}