[tools]
node = "latest"
uv = "latest"

# =================================================================================================
# Project Tools
# =================================================================================================
opentofu = "latest"
terragrunt = "0.97.0"
op = "latest"

# =================================================================================================
# CI Tools
# =================================================================================================
task = "latest"
gh = "latest"
actionlint = "latest"
yamlfmt = "latest"

[settings]
github_attestations = false
