[tools]
node = "latest"
uv = "latest"

# =================================================================================================
# Project Tools
# =================================================================================================
opentofu = "latest"
terragrunt = "latest"
op = "latest"

pre-commit = "latest"
"aqua:minio/mc" = "latest"

# =================================================================================================
# CI Tools
# =================================================================================================
gh = "latest"
actionlint = "latest"
yamllint = "latest"

[settings]
github_attestations = false
