[tools]
node = "latest"
uv = "latest"

# =================================================================================================
# Project Tools
# =================================================================================================
terraform = "1.13"
terragrunt = "0.93.6"
op = "2.32"

pre-commit = "latest"
"aqua:minio/mc" = "latest"

# =================================================================================================
# CI Tools
# =================================================================================================
gh = "latest"
actionlint = "latest"
yamllint = "latest"
"npm:@commitlint/cli" = "latest"
